VERIFY_TOKEN= helman123
WHATSAPP_ACCESS_TOKEN= EAFrTbD7veVIBQHP7myMKe1ZB6NLUq1zhaIGT5h4q9qre1HcEdrA1kGFEOe1FXWFZAsTN3db32sXBBE6ZBGZB4l0G0QxWGQDOwQvqG19XGt4r8mCdUQRIFfBPaFnHDBEmPmBUZA3mj14wGyc656kZAbj3sWURkikcrBpb9sIklkUd3L2bZCLLPv1jPJIMEqZC9OBZCvgZDZD
WHATSAPP_PHONE_NUMBER_ID= 61584206769994
TEMPLATE_NAME=promo_10_desc
TEMPLATE_LANGUAGE=es
CONCURRENCY_PER_SECOND=80
RETRY_MAX=3
WEBHOOK_PORT=3000
WEBHOOK_VERIFY_TOKEN=changeme
