WHATSAPP_ACCESS_TOKEN= EAALeWkruFM8BQB2kYEZCzuNqzSRqkVrYhyq2S7HMfgVfrK9LpqXUZBuGOWOcPFbI20JvwNxL4CFg2w3LMLhz1y2JgOFrt1S32Ygjc40cJR6ZBTLlcmWLW07c7hbew7NymFCJkBLYqW2rLjRMrFHimTJGEKYIIZCOSa9BAdBAB91VlAKOqBWFfb8wYUOM
WHATSAPP_PHONE_NUMBER_ID= 949359038252667
TEMPLATE_NAME=promo_10_desc
TEMPLATE_LANGUAGE=es
CONCURRENCY_PER_SECOND=80
RETRY_MAX=3
WEBHOOK_PORT=3000
WEBHOOK_VERIFY_TOKEN=changeme
