WHATSAPP_ACCESS_TOKEN= EAAc7Y41omJ4BQMuTj3HeNLALSIZAnb58HwwB6nugPRf7lgYUbRmtnR4o13w7YXvYvpWOLbsRnj9eWRk74JHqmIJejnC2emdYDbjBZBKhlbTh2EjJmOmkDHZB5Fi9ttMJ6wTmYZBfVa8Rg8c7QASiy2ZAC7hdXgV6q1V236BJ0EU6j5RHCkDpuN2YwrXDW1ZChX
WHATSAPP_PHONE_NUMBER_ID= 949359038252667
TEMPLATE_NAME=promo_10_desc
TEMPLATE_LANGUAGE=es
CONCURRENCY_PER_SECOND=80
RETRY_MAX=3
WEBHOOK_PORT=3000
WEBHOOK_VERIFY_TOKEN=changeme
